*
!*/

###  Ignore everything but these:  ###
# Minix Include Files
!.minix-src/

# Labs' Files
!lab0/bitwise/bitwise.c
!lab0/helloworld/hello.c
!lab[0-5]/.vscode
!lab[0-5]/.clang-format
!lab[0-5]/*.c
!lab[0-5]/*.h
!lab[0-5]/Makefile

# Project Files
!proj/src/.vscode
!proj/src/.clang-format
!proj/src/*.c
!proj/src/*.h
!proj/src/Makefile

# Library Files
!proj/src/lib/*.c
!proj/src/lib/*.h
!proj/src/lib/text/*.c
!proj/src/lib/text/*.h
!proj/src/lib/drivers/*.c
!proj/src/lib/drivers/*.h
!proj/src/lib/drivers/serialPort/*.c
!proj/src/lib/drivers/serialPort/*.h
!proj/src/lib/drivers/graphics/*.c
!proj/src/lib/drivers/graphics/*.h
!proj/src/lib/drivers/KBC/*.c
!proj/src/lib/drivers/KBC/*.h
!proj/src/lib/drivers/timer/*.c
!proj/src/lib/drivers/timer/*.h
!proj/src/lib/scancode/*.c
!proj/src/lib/scancode/*.h

# UI Files
!proj/src/ui/*.c
!proj/src/ui/*.h

# Typing Files
!proj/src/typing/*.c
!proj/src/typing/*.h

# Data Files
!proj/src/data/*.c
!proj/src/data/*.h
!proj/src/data/*.dict

# Documentation
!proj/doc/html/*
!proj/doc/latex/*
!proj/doc/Doxyfile
!proj/doc/Doxyfile.bak

!.gitignore
!README.md